.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
}

.card {
  border: 1px solid beige;
  padding: 10px;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.card button {
  margin-top: 6px;
}
